.container {
  display: flex;
  justify-content: center;
  padding: 20px 15px;
}

.content {
  max-width: 800px;
  width: 100%;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: justify;
}

.titulo {
  text-align: center;
}

p {
  color: #333;
  line-height: 1.6;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.container-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-unifei {
  max-width: 50%;
  height: auto;
}
